#body_div ul {
    width: 90vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#body_div li {
    height: 5vh;
    margin-bottom: 3vh;
    font-family: "Manrope", sans-serif;
    font-size: 1.25vh;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    color: #2D2D2D;
    border: 0;
    border-bottom: 1px;
    border-color: #797979;
    border-style: solid;
    list-style: none;
}

.save {
    margin-right: 2vw;
    background: none;
    border: #DD0000 solid 1px;
}

@media screen and (min-width: 750px) {
    #body_div li {
        font-size: 2.25vh;
    }
}