{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'masters/css/layout.css' %}">
    {% block link %}{% endblock %}
    <script src="{% static 'masters/js/layout.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="body_div">
        {% block body %}
        {% endblock %}
    </div>

    <nav>
        <img src="{% static 'masters/svg/menu.svg' %}" alt="Menu" id="menu_icon" onclick="displayMenuMobile(this)">
        <div id="menu_box">
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'courses' %}">Courses</a></li>
                <li><a href="{% url 'tasks' %}">Tasks</a></li>
                <li><a href="{% url 'week_tasks' %}">Schedule</a></li>
            </ul>
        </div>
        <a href="{% url 'logout' %}"><img src="{% static 'masters/svg/logout.svg' %}" alt="Logout" id="logout_icon"></a>
    </nav>
</body>
</html>